@model Item[] 



@{
    ViewData["Title"] = "Skapa lån";
}
<div style="display: flex; justify-content: center">
    <h2>@ViewData["Title"]</h2>
</div>


@if (Model == null || !Model.Any()) // Behöver skicka med Item modell från tidigare sidan
{
    <p>Inga konton tillgängliga</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Namn</th>
            <th>Kategori</th>
            <th>Beskrivning</th>
        </tr>
        </thead>
        <tbody>
        
        @foreach (var items in Model.Where(model => model.IsAvailable))
        {
            <tr>
                <td>@items.Title</td>
                <td>@items.Category</td>
                <td>@items.Description</td>
                <td>
                    <form asp-action="" method="post">
                        <input type="hidden" name="id" value="@items.Id" />
                        <button type="submit">Låna</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>    
    </table>
}