@model LoanViewModel[]  

@{
    ViewData["Title"] = "Visa mina lån";
}
<h2>@ViewData["Title"]</h2>

@if (Model == null || !Model.Any())
{
    <p>Inga lån tillgängliga</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Användare</th>
            <th>Sak</th>
            <th>Lån-Datum</th>
            <th>Lämna tillbaka</th>
            <th>Återlämnings datum</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var loans in Model)
        {
            <tr>    <!-- ? för att göra till null om är null, sista ? gör, om sant gör : om falskt gör-->
                <td>@(loans?.UserId != null ? loans.UserId.ToString() : "")</td> <!-- ?? "" kollar också om null-->
                <td>@(loans?.ItemTitle ?? "Okänd")</td>
                <td>@(loans?.LoanDate.ToString("yy-MM-dd") ?? "")</td>
                <td>@(loans?.DueDate.ToString("yy-MM-dd") ?? "")</td>
                <td>
                    @if (loans.ReturnDate == null)
                    {
                        <form asp-action="DeleteLoan" method="post">
                            <input type="hidden" name="id" value="@loans.Id" />
                            <button type="submit" class="btn btn-warning">Ta bort</button>
                        </form>
                    }
                    else
                    {
                        @(loans?.ReturnDate != null ? loans.ReturnDate.Value.ToString("yy-MM-dd") : "")
                    }
                </td>
               
            </tr>
            
        }
        </tbody>
    </table>
}